server_node/node_modules/*
react_node_auth_crud/server/node_modules/*
react_node/react_node_auth_crud/server/uploads/*
react_node/react_node_crud/node_modules/*
react_node/react_node_crud/server/node_modules/*
react_node/react_node_crud/client/node_modules/*
